.min-h-screen{
    min-height: 100vh;

}
.bg-red{
    background-color: red;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.text-center{
    text-align: center;
}
.navbar{
    display: flex;
    height: 67px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.font-bolder{
    font-weight: bolder;
}
.font-2{
    font-size: 2rem;
}
.topleft{
    width: 50%;
}
.topright{
    width: 50%;
}
.section1{
    height: 50vh;
}
.flex-col{
    flex-direction: column;
}

.px-2{
    padding-left: 13px;
    padding-right: 13px;
}

/* width */
.w-1{
    width: 12rem;
}
/* height */
.h-1{
    height: 1rem;
}
.h-2{
    height: 2rem;
}
.h-3{
    height: 3rem;
}
.h-24{
    height: 24rem;
}
.h-12{
    height: 12rem;
}
.h-10{
    height: 10rem;
}
/* margin */
.mx-t-2{
    margin-top: 2rem;
}
.mx-l-4{
    margin-left: 4rem;
}
/* .my-1{
    margin-top:8px;
    margin-bottom: 13px;
    margin-right: 90px;
} */
.my-1{
    margin-top: 13px;
    margin-bottom: 13px;
}
.my-2{
    margin-top: 26px;
    margin-bottom: 26px;
}

/* padding */
.px-r-23{
    padding-right: 23rem;
}
/* overflow*/
.overflow-x-hidden{
    overflow-x: hidden;
}
/* border*/
.border-radius-3{
    border-radius: 3rem;
}
.border-radius-1{
    border-radius: 1rem;
}
.border-blue{
    border-color:  blue;
}
.border-bottom-1{
    border-bottom: 1px solid rgb(136, 131, 131);
    border-collapse: collapse;
}
/* font */
.f-2{
    font-size: 2rem;
}
.f-3{
    font-size: 3rem;
}
.font-serif{
    font-family: sans-serif;
}
.font-100{
    font-weight: 100;
}
.font-85{
    font-weight: 85;
}
/* background */
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: rgb(45, 79, 233);
}

.bg-white{
    background-color: white;
}
.bg-lightgray{
    background-color: #f0f2f5;
}

/* text color */
.text-white{
    color: white;
}
.text-blue{
    color: rgb(51, 180, 231);
}
.text-darkblue{
    color: blue;
}
.text-blue-500{
    color: rgb(48, 48, 233);
}
.text-gray{
    color: gray;
}

